@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    padding: 20px;
}

h1 {
    color: #fdfeff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.icon {
    text-align: right;
    margin-bottom: 20px;
}

.comprar {
    background-color: #007bffe1;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.comprar:hover {
    background-color: #023e7ebd;
}

.container {
    padding: 10px;
    background-color: rgba(160, 155, 155, 0.445);
    border-radius: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 100%;
    border-radius: 5px;
}

.item h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.price {
    color: #007bff;
    font-size: 16px;
    padding: 18px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.actions button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.checkout-options {
    margin-top: 20px;
    text-align: center;
}

.checkout-options button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.checkout-options button:hover {
    background-color: #218838;
}

span{
    margin-top: 10px;
    font-size: 18px;
    display: block;
    justify-content: end;
    text-align:end;
    align-items: end;
    font-weight: bold;
    color: green;
}

a{
    display: flex;
    justify-content:end;
    font-size: 20px;
    padding: 30px;
}